<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is edit page</h1>
<form method="post">
<label>Item name</label>
    <input type="text" name="name" value="{{name}}">
    <label>Item weight</label>
    <input type="text" name="weight" value="{{weight}}">
<label>Date</label>
    <input type="text" name="date" value="{{date}}">
<label>Receiver Phone</label>
    <input type="text" name="receiver_ph" value="{{receiver_ph}}">
    <input type="submit">
</form>
</body>
</html>