{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
{% if superuser != True %}
{% with messages = get_flashed_messages() %}
 {% if messages %}
  <ul>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
 {% endif %}
{% endwith %}
<h3>Welcome {{user}}</h3><br>
<form method="post">
    {{form.hidden_tag()}}
    <h4>Origin Pincode:</h4>
    {{form.origin_pincode}}<br><br>
     <h4>Destination Pincode:</h4>
    {{form.destination_pincode}}<br><br>
    {{form.submit}}
</form>
{% else %}
<h1>Welcome admin {{user}}</h1>
{% endif %}<hr>
    </center>
</body>
</html>
{% endblock %}