{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
{% if superuser != True %}
{% with messages = get_flashed_messages() %}
 {% if messages %}
  <ul>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
 {% endif %}
{% endwith %}

<h3>Welcome {{user}}</h3><br>
    {% if book %}
<form method="post">
    {{form.hidden_tag()}}
    <h4>Enter Origin Pincode:</h4>
    {{form.origin_pincode}}<br><br>
     <h4>Enter Destination Pincode:</h4>
    {{form.destination_pincode}}<br><br>
    <input type="submit" class="btn btn-info" value="Next">
</form>
    {% else %}
      <form method="get">
        <input class="btn btn-info" type="submit" name="book" value="Click here to Book Parcel">
    </form>
    {% endif %}
{% else %}
<h1>Welcome admin {{user}}</h1>
{% endif %}<hr>
    </center>

</body>
</html>
{% endblock %}