{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<center style="background-image: url('https://etimg.etb2bimg.com/photo/93116162.cms');">
{% if superuser != True %}
{% with messages = get_flashed_messages() %}
 {% if messages %}
  <ul>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
 {% endif %}
{% endwith %}

<h3>Welcome {{user}}</h3><br>
    {% if book %}
<form method="post">
    {{form.hidden_tag()}}
    <h4>Enter Origin Pincode:</h4>
    {{form.origin_pincode}}<br><br>
     <h4>Enter Destination Pincode:</h4>
    {{form.destination_pincode}}<br><br>
    <input type="submit" class="btn btn-info" value="Next">
</form>
    {% else %}
    {% if user %}
      <form method="get">
        <input class="btn btn-info" type="submit" name="book" value="Click here to Book Parcel">
    </form>
    {% else %}
    <a href="/login" class="btn btn-info">Click here to Book Parcel</a>
    {% endif %}
    {% endif %}
{% else %}
<h1>Welcome admin {{user}}</h1>
{% endif %}
    </center>
<!--<img src="https://images.pexels.com/photos/262353/pexels-photo-262353.jpeg" width="4000" height="500">-->
</body>
</html>
{% endblock %}