{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1>Enter Parcel Details</h1><br>
<form method="post">
    {{form.hidden_tag()}}
    Item Name
    {{form.name}}<br><br>
    Item Weight
    {{form.weight}}<br><br>
    {{form.date.name}}
    {{form.date}}<br><br>
    {{form.receiver.name}}
    {{form.receiver}}<br><br>
    {{form.receiver_phone.name}}
    {{form.receiver_phone}}<br><br>
    <input type="submit" class="btn btn-info">
</form></center>
</body>
</html>
{% endblock %}