{% extends 'base.html' %}
{% block content %}
<body>
<div class="row align-items-center">
</div>
<center><br>
        <img class="rounded-circle" src="{{url_for('media', filename=user)}}"
                width="200" height="150" alt="..."><br><br>
        <form method="post" enctype=multipart/form-data>
            {% if pic %}
            <label for="files" class="btn btn-info">Change Pic</label>
            {% else %}
             <label for="files" class="btn btn-info">Upload Profile Pic</label>
            {% endif %}
            <input id="files" hidden type="file" name="file" value="file">
            <input class="btn btn-secondary btn-sm" type="submit">
        </form><hr>

               <h3> No.of bookings = {{orders}} </h3>
          <h3>Email = {{row[1]}}</h3>
</center>
</body>
</html>
{% endblock %}