{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><center>
<h2>Order summary</h2><hr>
<h4>Total Price = {{price}}</h4>
{% for key,value in item_details.items() %}
{% if key != 'csrf_token' %}
<h4>{{key}} = {{value}}</h4>
{% endif %}
{% endfor %}
<h4>Service = {{service}}</h4>
{% for key,value in daddress.items() %}
<h4>{{key}} = {{value}}</h4>
{% endfor %}<hr>
<form action="/success">
    <input type="submit" value="Paynow" class="btn btn-success">
</form>
<a href="/address" class="btn btn-secondary btn-sm">Go Back</a></center>
</body>
</html>
{% endblock %}